<div class="container">
    <a href="/stories/add" class="btna btn-floating btn-large puls col s12 m6 l3 brown"><i class="plusbt material-icons white-text">add</i></a>
</div>

<style>
    .btna {
        position: relative;
        left: 1050px;
        bottom: 100px;
    }

    .plusbt {
        font-weight: bolder;
    }

    @media only screen and (max-width: 800px) {
        .btna {
            position: absolute;
            left: 370px;
            top: 70px;
        }
    }
</style>