<%- include('../partials/links.ejs') %> 
<%- include('../partials/nav.ejs') %>

<div class="container">

    <h1>404 Not Found</h1>
    <p>This ressource is not found!</p>
    <p>PS: Sorry, not sorry...</p>

</div>

<a href="/dashboard"></a>